<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% for thing in site.about %}
                    <button class="btn btn-outline">{{thing.item}}</button>
                {% endfor %}
            </div>
        </div>
        <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% for skill in site.skills %}
                    <button class="btn btn-outline">{{skill.item}}</button>
                {% endfor %}
            </div>
        </div>
    </section>